[submodule "emacs/.emacs.d/themes/amelie-theme"]
    path = emacs/.emacs.d/themes/amelie-theme
    url = https://github.com/ranmocy/amelie-theme.git
[submodule "emacs/.emacs.d/plugins/ace-jump-mode"]
    path = emacs/.emacs.d/plugins/ace-jump-mode
    url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs/.emacs.d/plugins/ecb"]
    path = emacs/.emacs.d/plugins/ecb
    url = https://github.com/alexott/ecb
[submodule "emacs/.emacs.d/plugins/emacs-eclim"]
    path = emacs/.emacs.d/plugins/emacs-eclim
    url = https://github.com/senny/emacs-eclim.git
[submodule "emacs/.emacs.d/plugins/emacs-jabber"]
    path = emacs/.emacs.d/plugins/emacs-jabber
    url = https://github.com/legoscia/emacs-jabber
[submodule "emacs/.emacs.d/plugins/emacs-zlc"]
    path = emacs/.emacs.d/plugins/emacs-zlc
    url = https://github.com/mooz/emacs-zlc.git
[submodule "emacs/.emacs.d/plugins/exec-path-from-shell"]
    path = emacs/.emacs.d/plugins/exec-path-from-shell
    url = https://github.com/purcell/exec-path-from-shell.git
[submodule "emacs/.emacs.d/plugins/fasd-shell"]
    path = emacs/.emacs.d/plugins/fasd-shell
    url = https://gitlab.com/emacs-stuff/fasd-shell.git
[submodule "emacs/.emacs.d/plugins/ido-ubiquitous"]
    path = emacs/.emacs.d/plugins/ido-ubiquitous
    url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "emacs/.emacs.d/plugins/ssh-el"]
    path = emacs/.emacs.d/plugins/ssh-el
    url = https://github.com/ieure/ssh-el
[submodule "emacs/.emacs.d/plugins/yaml-mode"]
    path = emacs/.emacs.d/plugins/yaml-mode
    url = https://github.com/yoshiki/yaml-mode
[submodule "emacs/.emacs.d/plugins/dash"]
    path = emacs/.emacs.d/plugins/dash
    url = https://github.com/magnars/dash.el.git
[submodule "vim/.spf13-vim-3"]
    path = vim/.spf13-vim
    url = https://github.com/spf13/spf13-vim.git
[submodule "zsh/.antigen"]
    path = zsh/.antigen
    url = https://github.com/zsh-users/antigen.git
[submodule "zsh/.oh-my-zsh"]
    path = zsh/.oh-my-zsh
    url = https://github.com/kugurst/oh-my-zsh.git
[submodule "emacs/.emacs.d/plugins/guess-style"]
    path = emacs/.emacs.d/plugins/guess-style
    url = https://github.com/nschum/guess-style
[submodule "vim/.vim_runtime"]
    path = vim/.vim_runtime
    url = https://github.com/kugurst/vimrc.git
